html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

$mainColour: #0f3748;
$offWhite: #e6e6e6;

$mainFont: "Roboto";

$ipad: 768px;
$ipadPro: 1024px;
$desktopStart: 1025px;

body {
  width: 100vw;
  overflow-x: hidden;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ffffff 0%,
    #cbc8c8 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ffffff 0%,
    #cbc8c8 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #cbc8c8 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cbc8c8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
}
.container {
  width: 90%;
  margin: 0 auto;
  @media screen and (min-width: $ipadPro) {
    width: 80%;
  }
  @media screen and (min-width: $desktopStart) {
    width: 70%;
  }
}
.mainHdg {
  font-family: "Alte Haas Grotesk";
  color: $mainColour;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 28px;
  padding-top: 6vh;
  line-height: 36px;
  @media screen and (min-width: $ipad) {
    font-size: 36px;
  }
  @media screen and (min-width: $desktopStart) {
    padding-top: 8vh;
  }
}
.mainHdg span {
  font-weight: 800;
}
.mainP {
  font-family: $mainFont;
  font-size: 16px;
  margin-top: 2vh;
  line-height: 30px;
}
#navBar {
  box-sizing: border-box;
  display: flex;
  height: 11vh;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
}
#logoImg {
  display: block;
  width: auto;
  height: 45px;
  margin-left: 5%;
  @media screen and (min-width: $ipadPro) {
    margin-left: 10%;
  }
  @media screen and (min-width: $desktopStart) {
    margin-left: 15%;
  }
}
#callInfo {
  display: none;
  margin-right: 15%;
  @media screen and (min-width: $desktopStart) {
    display: block;
  }
}
#callInfo #call {
  text-align: right;
  font-family: $mainFont;
  font-size: 18px;
  color: #000;
  margin-bottom: 5px;
}
#callInfo #number {
  font-family: "Segoe UI";
  color: $mainColour;
  font-size: 28px;
  font-weight: 700;
}
.hamburg {
  position: fixed;
  // top: 0;
  right: 0;
  z-index: 6;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #0f3748;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: background-color 1s ease;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f2027+1,0f3748+100 */
  background: #0f2027; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #0f2027 1%,
    #0f3748 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #0f2027 1%,
    #0f3748 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #0f2027 1%,
    #0f3748 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f2027', endColorstr='#0f3748',GradientType=1 );
  @media screen and (min-width: $ipadPro) {
    margin-right: 10%;
  }
  @media screen and (min-width: $desktopStart) {
    display: none;
  }
}
.hamChange {
  background: #fff;
}
.hamburgBlock {
  height: 4px;
  width: 25px;
  border-radius: 20px;
  background-color: #ffffff;
  align-self: center;
  transition: background-color 1s ease;
}
.hamBlockChange {
  background: $mainColour;
}
.slidingMenu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  transition: width 1s ease;
  background: #0f2027;
  z-index: 5;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #0f2027 1%, #0f3748 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #0f2027 1%,
    #0f3748 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #0f2027 1%,
    #0f3748 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f2027', endColorstr='#0f3748',GradientType=1 );
  @media screen and (min-width: $desktopStart) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 6vh;
    min-height: 48px;
    padding: 18px;
    box-sizing: border-box;
  }
}
.slideOpen {
  width: 80%;
}
#mainUl {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 50px;
  padding-top: 12vh;
  padding-bottom: 6vh;
  @media screen and (min-width: $desktopStart) {
    height: auto;
    padding: 0;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
  }
}
.mainLi {
  box-sizing: border-box;
  font-family: $mainFont;
  color: $offWhite;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: rgba(112, 112, 112, 0.5) 1px solid;
  transition: color 0.6s ease;
  cursor: pointer;
  @media screen and (min-width: $ipad) {
    font-size: 30px;
  }
  @media screen and (min-width: $desktopStart) {
    border: none;
    padding: 0;
    font-size: 14px;
  }
}
.mainLi:hover {
  color: #acacac;
}
.mainLi:last-child {
  border-bottom: none;
}
#secondaryUl {
  box-sizing: border-box;
  padding-left: 50px;
  height: 18vh;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  @media screen and (min-width: $desktopStart) {
    display: none;
    // width: 200px;
  }
}
.secondaryLi {
  font-family: $mainFont;
  color: $offWhite;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 7px;
  border-bottom: rgba(112, 112, 112, 0.5) 1px solid;
  @media screen and (min-width: $ipad) {
    font-size: 24px;
  }
}
.secondaryLi:last-child {
  border-bottom: none;
}
a {
  text-decoration: none;
  border-bottom: rgba(112, 112, 112, 0.5) 1px solid;
}
#home {
  height: 89vh;
  background-image: url("../images/landing_img.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 550px;
  @media screen and (min-width: $desktopStart) {
    height: 83vh;
  }
}
#protectDiv {
  width: 90%;
  margin: 0 auto;
  // margin-top: 8vh;
  background-color: rgba(15, 55, 72, 0.8);
  min-height: 470px;
  box-sizing: border-box;
  padding: 5%;
  @media screen and (min-width: $ipadPro) {
    width: 80%;
  }
  @media screen and (min-width: $desktopStart) {
    // margin-top: 7vh;
    width: 525px;
    margin-left: 15%;
    padding: 2%;
    min-height: 500px;
  }
}
#protectDiv h1 {
  width: 60%;
  text-transform: uppercase;
  font-family: "Alte Haas Grotesk";
  font-weight: 800;
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  @media screen and (min-width: $ipadPro) {
    font-size: 60px;
    line-height: 70px;
  }
  @media screen and (min-width: $desktopStart) {
    width: 40%;
    font-size: 45px;
    line-height: 55px;
  }
}
#protectDiv span {
  text-transform: lowercase;
  font-weight: 400;
}
#protectDiv h2 {
  color: #fff;
  font-family: $mainFont;
  margin-top: 30px;
  line-height: 40px;
  font-size: 20px;
  width: 85%;
  @media screen and (min-width: $ipadPro) {
    font-size: 30px;
    line-height: 45px;
  }
  @media screen and (min-width: $desktopStart) {
    line-height: 40px;
    font-size: 20px;
    width: 100%;
  }
}
#protectDiv p {
  display: none;
  color: #fff;
  font-family: $mainFont;
  margin-top: 15px;
  line-height: 35px;
  font-size: 16px;
  @media screen and (min-width: $ipad) {
    display: block;
  }
  @media screen and (min-width: $ipadPro) {
    font-size: 22px;
    line-height: 40px;
    margin-top: 30px;
  }
  @media screen and (min-width: $desktopStart) {
    margin-top: 15px;
    line-height: 35px;
    font-size: 16px;
  }
}
#about {
  padding-bottom: 6vh;
}
#about #polygonMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#about .polygonInd {
  width: 100%;
  margin-top: 3vh;
  position: relative;
  @media screen and (min-width: $ipad) {
    width: 49%;
  }
}
#about picture {
  display: block;
  width: 100%;
}
#about img {
  display: block;
  width: 100%;
  height: auto; // position: relative;
}
#about h2 {
  color: #fff;
  font-family: $mainFont;
  position: absolute;
  top: 18%;
  padding-left: 8%;
  padding-right: 8%;
  text-transform: uppercase;
  font-size: 24px;
}
#about #polygonP {
  color: #fff;
  font-family: $mainFont;
  position: absolute;
  top: 45%;
  padding-left: 8%;
  padding-right: 8%;
  line-height: 30px;
}
#about hr {
  border: 0;
  height: 1px;
  background-color: $mainColour;
  opacity: 0.2;
  margin-top: 3vh;
}
#about #leader {
  color: $mainColour;
  font-family: $mainFont;
  font-size: 24px;
  margin-top: 3vh;
  line-height: 36px;
}
#products {
  background-color: #fff;
  padding-bottom: 6vh;
}
#products hr {
  border: 0;
  height: 1px;
  background-color: $mainColour;
  opacity: 0.2;
  margin-top: 3vh;
}
#evaluation {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#evalImg {
  background-image: url("../images/evalImg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 28vh;
  width: 100%;
  @media screen and (min-width: $ipad) {
    width: 38%;
    margin-top: 3vh; // height: 52vh;
    height: auto;
    flex-grow: 1;
  }
}
#evalText {
  width: 100%;
  @media screen and (min-width: $ipad) {
    width: 57%;
    padding-left: 5%;
  }
}
#evaluation h3 {
  font-family: "Alte Haas Grotesk";
  color: $mainColour;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.05rem;
  margin-top: 3vh;
}
